<div class="container-machine">
  <div class="centerInput">
    <input 
    type="text"
    value=""
    autocomplete="off"
    #input (keyup)="keyup(input.value)"
    placeholder="Ingrese los siguientes valores separados por una coma Consumo, inversiones, exportaciones, importaciones y gasto publico"
    class="text"
  />
  </div>

  <div class="container-button">
    <input type="button" class="button" value="Buscar" (click)="clickItem()">
  </div>
  <div class="description-error" *ngIf="machine !== undefined">
    <span>El pib  aproximado es de {{machine.pib}}</span>
  </div>
  <div class="description-error" *ngIf="machine !== undefined">
    <span> {{machine.message}}</span>
  </div>
  <div class="description-error">
    <span>{{information}}</span>
  </div>
</div>
